<% include partials/header %>

<div class="container-fluid contain">
<div class="row">
<div class="col-xs-offset-3 col-xs-9">
<a href="/roads"><button class="col-xs-4 btn btn-default button">Forma e regjistrimit të gjendjes së rrugëve</button></a>
<a href="/qkmk"><button class="col-xs-3 btn btn-default button">Tabela e fluksit të pikave kufitare</button></a> 
</div>
</div>
<div class="row">
<div class="col-xs-6" style="padding-top: 20px;"> 
<h3 class="gr">Forma e regjistrimit të pikave kufitare</h3>
<form class="form-horizontal gr" id="border-wait-form" method="POST" action="/qkmk/add">
  <input type="hidden" id="updatedAt">
  <h2>1</h2>
  <div class="form-group form-style-group">
    <label for="pikaKufitare" class="control-lable col-xs-4 gr"><p>Pika kufitare</p></label>
    <div class="col-xs-4">
    <select class="form-control" id="pikaKufitare" name="pikaKufitare">
        <option value="" selected disabled hidden>Zgjedh pikën kufitare</option>
        <option value="Vermice">Vërmicë</option>
        <option value="Qafë e Prushit">Qafë e prushit</option>
        <option value="Qafë e Morinës">Qafë e Morinës</option>
        <option value="Kullë">Kullë</option>
        <option value="Bërnjak">Bërnjak</option>
        <option value="Jarinje">Jarinje</option>
        <option value="Merdarë">Merdarë</option>
        <option value="Mutivodë">Mutivodë</option>
        <option value="Dheu i bardhë">Dheu i bardhë</option>
        <option value="Muçibabë">Muçibabë</option>
        <option value="Hani i Elezit">Hani i Elezit</option>
        <option value="Glloboqicë">Glloboqicë</option>
    </select>
   </div>
  </div>
  <h2>2</h2>
  <p class="gr">Hyrje</p>
  <div class="form-group">
    <label for="hyrjeMinMinuta" class="control-lable col-xs-2 group">Minimum</label>
    <div class="col-xs-2">
    <input type="number" min="0" max="180" class="form-control" id="hyrjeMinMinuta" name="hyrjeMinMinuta"></div>
    <span> minuta</span>
  </div>
  <div class="form-group" id="group">
    <label for="hyrjeMaxMinuta" class="control-lable col-xs-2 group">Maximum</label>
    <div class="col-xs-2">
    <input type="number" min="0" max="180" class="form-control" id="hyrjeMaxMinuta" name="hyrjeMaxMinuta"></div>
    <span> minuta</span>
</div>
  <p class="gr">Dalje</p>
  <div class="form-group" id="group">
    <label for="daljeMinMinuta" class="control-lable col-xs-2 group">Minimum</label>
    <div class="col-xs-2">
    <input type="number" min="0" max="59" class="form-control" id="daljeMinMinuta" name="daljeMinMinuta"></div>
    <span> minuta</span>
  </div>
  <div class="form-group" id="group">
    <label for="daljeMaxMinuta" class="control-lable col-xs-2 group">Maximum</label>
    <div class="col-xs-2">
    <input type="number" min="0" max="59"  class="form-control" id="daljeMaxMinuta" name="daljeMaxMinuta"></div>
    <span> minuta</span>
  </div>

  <h2>3</h2>
  <p class="gr">Hyrje</p>
  <div class="form-group" id="group">
    <label for="hyrjeMinMetra" class="control-lable col-xs-2 group">Minimum</label>
    <div class="col-xs-2">
    <input type="number" min="0" class="form-control" id="hyrjeMinMetra" name="hyrjeMinMetra"></div>
    <span> metra</span>
  </div>
  <div class="form-group" id="group">
    <label for="hyrjeMaxMetra" class="control-lable col-xs-2 group">Maximum</label>
    <div class="col-xs-2">
    <input type="number" min="0" class="form-control" id="hyrjeMaxMetra" name="hyrjeMaxMetra"></div>
    <span> metra</span>
  </div>
   <p class="gr">Dalje</p>
  <div class="form-group" id="group">
    <label for="daljeMinMetra" class="control-lable col-xs-2 group">Minimum</label>
    <div class="col-xs-2">
    <input type="number" min="0" class="form-control" id="daljeMinMetra" name="daljeMinMetra"></div>
    <span> metra</span>
  </div>
  <div class="form-group" id="group">
    <label for="daljeMaxMetra" class="control-lable col-xs-2 group">Maximum</label>
    <div class="col-xs-2">
    <input type="number" min="0" class="form-control" id="daljeMaxMetra" name="daljeMaxMetra"></div>
    <span> metra</span>
  </div>
  <button type="submit" class="btn btn-default button col-xs-2">Ruaj</button>
  <button type="reset" class="btn btn-default button col-xs-2">Fshij</button>
</form> 
</div>

<div class="col-xs-6 link">
<h3>Të dhënat:</h3>
<table class="table" id="datatable">
   <tr>
         <th>Pika Kufitare </th>
         <th>Hyrje (minuta) </th>
         <th>Dalje (minuta) </th>
         <th>Hyrje (metra) </th>
         <th>Dalje (metra) </th>
    </tr>
    <% docs.map(function(doc) {  %>
    <tr>
        <td><%= doc.pikaKufitare %></td>
        <td><%= doc.hyrjeMinMinuta %> - <%= doc.hyrjeMaxMinuta %></td>
        <td><%= doc.daljeMinMinuta %> - <%= doc.daljeMaxMinuta %></td>
        <td><%= doc.hyrjeMinMetra %> - <%= doc.hyrjeMaxMetra %></td>
        <td><%= doc.daljeMinMetra %> - <%= doc.daljeMaxMetra %></td>
        <td><a href="/qkmk/<%= doc._id %>">Show</a></td>
        <td><a href="/qkmk/edit/<%= doc._id %>">Edit</a></td>
        <td><a href="/qkmk/delete/<%= doc._id %>">Delete</a></td>
    </tr>
   <% }) %>
</table>
</div>
</div>
</div>

<% include partials/footer %>


