<% include partials/header %>

<div class="container-fluid contain">
<div class="row">
<div class="col-xs-offset-3 col-xs-9">
<a href="/"><button class="col-xs-4 btn btn-default button">Forma e regjistrimit të pikave kufitare</button></a>
<a href="/qkmk"><button class="col-xs-3 btn btn-default button">Tabela e fluksit të pikave kufitare</button></a> 
</div>
</div>
<div class="row">
<div class="col-xs-6" style="padding-top: 20px;"> 
<h3 class="gr">Forma e regjistrimit të gjendjes së rrugëve</h3>
<form class="form-horizontal gr" id="border-wait-form" method="POST" action="/roads/add">
  <input type="hidden" id="updatedAt">
  <h2>1</h2>
  <div class="form-group form-style-group group">
    <label for="magjistralja" class="control-lable col-xs-3 group"><h5>Magjistralja</h5></label>
    <div class="col-xs-4">
    <select class="form-control" id="magjistralja" name="magjistralja">
        <option value="" selected disabled hidden>Zgjedh magjistralen</option>
        <option value="H. Elezit – Kaçanik">H. Elezit – Kaçanik</option>
        <option value="Glloboqic – Fusha e Pajtimit">Glloboqic – Fusha e Pajtimit</option>
        <option value="Dheu i Bardhë – Gjilanë">Dheu i Bardhë – Gjilanë</option>
        <option value="Muqibabë – Gjilanë">Muqibabë – Gjilanë</option>
        <option value="Pejë – Kullë ">Pejë – Kullë </option>
        <option value="Gjakovë – Q.Morinë">Gjakovë – Q.Morinë</option>
        <option value="Gjakovë -  Q.Prushë">Gjakovë -  Q.Prushë</option>
        <option value="Prizren - Vërmicë">Prizren - Vërmicë</option>
        <option value="Prishtinë - Mutivodë">Prishtinë - Mutivodë</option>
        <option value="Podujevë - Merdarë">Podujevë - Merdarë</option>
        <option value="Mitrovicë – Bërnjak">Mitrovicë – Bërnjak</option>
        <option value="Mitrovicë - Jarinje">Mitrovicë - Jarinje</option>
    </select>
   </div>
  </div>
  <h2>2</h2>
  <div class="form-group form-style-group" id="group"">
    <label for="debore" class="control-lable col-xs-3 group"><h5>Dëborë</h5></label>
    <div class="col-xs-2">
      <select class="form-control" id="debore" name="debore">
        <option value="JO" selected>JO</option>
        <option value="PO">PO</option>
      </select>
    </div>
  </div>
  <div class="form-group form-style-group" id="group"">
    <label for="akull" class="control-lable col-xs-3 group"><h5>Akullë</h5></label>
    <div class="col-xs-2">
      <select class="form-control" id="akull" name="akull">
        <option value="JO" selected>JO</option>
        <option value="PO">PO</option>
      </select>
    </div>
  </div>
  <div class="form-group form-style-group" id="group"">
    <label for="mjegull" class="control-lable col-xs-3 group"><h5>Mjegullë</h5></label>
    <div class="col-xs-2">
      <select class="form-control" id="mjegull" name="mjegull">
        <option value="JO" selected>JO</option>
        <option value="PO">PO</option>
      </select>
    </div>
  </div>
  <div class="form-group form-style-group" id="group"">
    <label for="rreshqitjeDheu" class="control-lable col-xs-3 group"><h5>Rrëshqitje Dheu</h5></label>
    <div class="col-xs-2">
      <select class="form-control" id="rreshqitjeDheu" name="rreshqitjeDheu">
        <option value="JO" selected>JO</option>
        <option value="PO">PO</option>
      </select>
    </div>
  </div>
  <div class="form-group form-style-group" id="group"">
    <label for="kalueshmeria" class="control-lable col-xs-3 group"><h5>Kalueshmëria</h5></label>
    <div class="col-xs-4">
      <select class="form-control" id="kalueshmeria" name="kalueshmeria">
        <option value="E kalueshme" selected>E kalueshme</option>
        <option value="Pjesërisht e kalueshme">Pjesërisht e kalueshme</option>
        <option value="E pakalueshme">E pakalueshme</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-default button col-xs-2">Ruaj</button>
  <button type="reset" class="btn btn-default button col-xs-2">Fshij</button>
</form>
</div>
<div class="col-xs-6 link">

<h3>Të dhënat:</h3>
<table class="table">
   <tr>
         <th>Magjistralja </th>
         <th>Dëborë </th>
         <th>Akullë </th>
         <th>Mjegullë </th>
         <th>Rrëshqitje Dheu </th>
         <th>Kalueshmëria </th>
    </tr>
    <% docs.map(function(doc) {  %>
    <tr>
        <td><%= doc.magjistralja %></td>
        <td><%= doc.debore %></td>
        <td><%= doc.akull %></td>
        <td><%= doc.mjegull %></td>
        <td><%= doc.rreshqitjeDheu %></td>
        <td><%= doc.kalueshmeria %></td>
        <td><a href="/roads/<%= doc._id %>">Show</a></td>
        <td><a href="/roads/edit/<%= doc._id %>">Edit</a></td>
        <td><a href="/roads/delete/<%= doc._id %>">Delete</a></td>
    </tr>
   <% }) %>
</table>
</div>
</div>
</div>

<% include partials/footer %>