<% include partials/header %>


<div class="container-fluid">
<div class="row">
<div id="container1" class="col-xs-offset-2 col-xs-6 contain">

<h3>Magjistralja: <%= doc.magjistralja %></h3>

<h3>Dëborë: <%= doc.debore %></h3> 

<h3>Akull: <%= doc.akull %></h3>

<h3>Mjegullë: <%= doc.mjegull %></h3> 

<h3>Rrëshqitje Dheu: <%= doc.rreshqitjeDheu %></h3> 

<h3>Kalueshmëria: <%= doc.kalueshmeria %></h3> 

</div><!--container-fliud end-->
</div><!--row end-->
</div><!--contain end-->

<% include partials/footer %>