<% include partials/header %>


<div class="container-fluid">
<div class="row">
<div id="container1" class="col-xs-offset-2 col-xs-6 contain">

<h3>Magjistralja: </h3> <h5><%= doc.magjistralja %></h5>

<h3>Dëborë: </h3> <h5><%= doc.debore %></h5>

<h3>Akull: </h3> <h5><%= doc.akull %></h5>

<h3>Mjegullë: </h3> <h5><%= doc.mjegull %></h5>

<h3>Rrëshqitje Dheu: </h3> <h5><%= doc.rreshqitjeDheu %></h5>

<h3>Kalueshmëria: </h3> <h5><%= doc.kalueshmeria %></h5>

</div><!--container-fliud end-->
</div><!--row end-->
</div><!--contain end-->

<% include partials/footer %>