<% include partials/header %>

<div class="container-fluid contain">
<div class="row">
<div id="container1" class="col-xs-4">

<h3>Pika Kufitare: <%= doc.pikaKufitare %></h3>

<h3>Hyrje (minuta)</h3> 
	<p>Min: <%= doc.hyrjeMinMinuta %> - Max: <%= doc.hyrjeMaxMinuta %></p>

<h3>Dalje (minuta)</h3>
	<p>Min: <%= doc.daljeMinMinuta %> - Max: <%= doc.daljeMaxMinuta %></p>

<h3>Kolona (metra) Hyrje</h3> 
	<p>Min: <%= doc.hyrjeMinMetra %> - Max: <%= doc.hyrjeMaxMetra %></p>

<h3>Kolona (metra) Dalje</h3> 
    <p>Min: <%= doc.daljeMinMetra %> - Max: <%= doc.daljeMaxMetra %></p>
</div><!--end container1-->

<div id="containerChart" class="col-xs-8" style="min-width: 310px; height: 400px; margin: 0 auto; margin-top: 50px;">
<script type="text/javascript">
	Highcharts.chart('containerChart', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Vonesa maksimale në pikën kufitare <%= doc.pikaKufitare %>'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: [
            '<%= doc.pikaKufitare %>'
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: ''
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0,
            dataLabels: {
                enabled: true
            },
        }
    },
    series: [{
        name: 'Hyrje (minuta)',
        data: [<%= doc.hyrjeMaxMinuta %>]

    }, {
        name: 'Dalje (minuta)',
        data: [<%= doc.daljeMaxMinuta %>]

    }, {
        name: 'Hyrje - Kolona (metra)',
        data: [<%= doc.hyrjeMaxMetra %>]

    }, {
        name: 'Dalje - Kolona (metra)',
        data: [<%= doc.daljeMaxMetra %>]

    }]
});
</script>
</div><!-- end containerChart-->
</div><!--row end-->
</div><!--container-fliud end-->

<% include partials/footer %>
